.sortingContainer {
  height: 450px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}
.sortingContent {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.bar {
  min-width: 25px;
  border: 1px solid #000;
  display: inline-block;
}
.sortSearch {
  background-color: hsl(320, 100%, 54%) !important;
}
.bar span {
  display: inline-block;
  margin-top: 5px;
}
