.pathfindingWrapper {
  padding: 25px;
}
.pathfindingContainer {
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
}
.themeButton {
  width: fit-content;
  background-color: #6c757d !important;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:hover {
    background-color: #5a6268 !important;
  }
  margin-left: 20px;
  & > div {
    padding: 10px;
  }
}
.nodesWrapper {
  min-width: 1120px;
  width: fit-content;
}
.nodesLabels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  & > :not(:last-child) {
    margin-right: 30px;
  }
  & img {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin-right: 5px !important;
  }

  span {
    display: inline-block;
  }
  & > div {
    display: flex;
    align-items: center;
    & > :nth-child(1) {
      margin-right: 13px;
    }
  }
  & .wall span {
    height: 30px;
    width: 30px;
    background-color: #313131;
  }
  & .visited span {
    height: 30px;
    width: 30px;
    background-color: rgba(129, 209, 219, 0.774);
  }
  & .unvisited span {
    height: 30px;
    width: 30px;
    border: 1px solid #000;
  }
  & .shortestpath span {
    height: 30px;
    width: 30px;
    background-color: rgb(230, 214, 170);
  }
}
.boxWrapper {
  border: 1px solid rgb(66, 82, 85);
  height: fit-content;
  width: fit-content;
  height: 30px;
  transform: scale(1.01);
  width: 30px;
  display: inline-block;
}
.box {
  // transition: all 200ms ease-in-out;
  height: 30px;
  width: 30px;
  display: inline-block;
  overflow: hidden;
  & img {
    height: 36px;
    background-color: rgb(255, 255, 255);
    margin-left: -3px;
    margin-top: -3px;
  }
}
.row {
  max-height: 30.6px;
}
.searching {
  background-color: rgba(129, 209, 219, 0.774);
}
.searchAnim {
  animation-name: visitedAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-play-state: running;
}
.path {
  background-color: rgb(230, 214, 170);
}
.pathAnim {
  animation: shortestPath 1500ms;
  animation-play-state: running;
}
.wall-node {
  background-color: #313131;
  pointer-events: none;
  position: relative;
  z-index: -1;
  animation: wallAnimation 700ms;
}

@keyframes wallAnimation {
  0% {
    border-radius: 0%;
    transform: scale(0.1);
  }
  40% {
    border-radius: 50%;
  }
  90% {
    transform: scale(1.1);
  }

  100% {
    border-radius: 0;
    transform: scale(1);
  }
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    border-radius: 50%;
    outline: 0;
    background-color: rgb(255, 238, 0);
    border-radius: 100%;
  }
  50% {
    outline: 0;
    background-color: rgba(12, 37, 180, 0.75);
  }

  60% {
    transform: scale(1);
    outline: 1px;
    background-color: rgba(60, 96, 196, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(129, 209, 219, 0.774);
  }
}
.settingsWapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  flex-wrap: wrap;

  & > :not(last-child) {
    margin-bottom: 20px;
  }
}
@keyframes shortestPath {
  0% {
    border-radius: 50%;
    transform: scale(0.6);
    background-color: rgb(226, 184, 137);
  }

  50% {
    border-radius: 0%;

    transform: scale(1.2);
    background-color: rgb(214, 117, 7);
  }

  100% {
    transform: scale(1);
    background-color: rgb(230, 214, 170);
  }
}

.tree {
  position: relative;
  z-index: 500;
  width: fit-content;
  margin: 0 auto;
  background-color: #fff;
}

.growAnim {
  animation: growAnimation 1000ms;
}

@keyframes growAnimation {
  0% {
    pointer-events: none;
    border-radius: 10%;
    transform: scale(0.3);
  }
  40% {
    border-radius: 50%;
  }
  90% {
    transform: scale(1.1);
    pointer-events: all;
  }

  100% {
    border-radius: 0;
    transform: scale(1);
  }
}
