.pathfindingWrapper {
  padding: 25px;
}
.pathfindingContainer {
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
}
.themeButton {
  width: fit-content;
  background-color: #6c757d !important;
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:hover {
    background-color: #5a6268 !important;
  }
  margin-left: 20px;
  & > div {
    padding: 10px;
  }
}
.nodesWrapper {
  width: fit-content;
}
.nodesLabels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  & > :not(:last-child) {
    margin-right: 30px;
  }
  & img {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin-right: 5px !important;
  }

  span {
    display: inline-block;
  }
  & > div {
    display: flex;
    align-items: center;
    & > :nth-child(1) {
      margin-right: 13px;
    }
  }
  & .wall span {
    height: 30px;
    width: 30px;
    background-color: #313131;
  }
  & .visited span {
    height: 30px;
    width: 30px;
    background-color: rgba(129, 209, 219, 0.774);
  }
  & .unvisited span {
    height: 30px;
    width: 30px;
    border: 1px solid rgba(37, 37, 37, 0.993);
  }
  & .shortestpath span {
    height: 30px;
    width: 30px;
    background-color: rgb(230, 214, 170);
  }
}
.boxWrapper {
 
  display: inline-block;
}
.box {
  border-bottom: 1px solid rgba(37, 37, 37, 0.438);
  border-right:  1px solid rgba(37, 37, 37, 0.438);
  display: inline-block;
  overflow: hidden;
min-height: 100%;
min-width: 100%;
max-width: 100%;
max-height: 100%;
}
.row {
display: flex
}
.bombed {
  background-color: rgba(20, 206, 144, 0.774);
}
.bombedAnim {
  animation-name: bombAnimation;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-play-state: running;
}
.searching {
  background-color: rgba(129, 209, 219, 0.774);
  transform: scale(1);
}
.searchAnim {
  animation-name: visitedAnimation;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-play-state: running;
}
.path {
  background-color: rgb(230, 214, 170);
}
.path-head {
  background-color: rgb(0, 0, 0) !important;
}
.pathAnim {
  animation: shortestPath;
  animation-play-state: running;
}
.wall-node {
  background-color: #313131;
  pointer-events: none;
  position: relative;
  z-index: -1;
}
.wall-anim {
  @extend .wall-node;
  animation: wallAnimation 200ms;
  animation-duration: 200ms !important;
}

.head {
  background-color: red !important;
  border-radius: 0% !important;
  transform: scale(1) !important;
}
@keyframes wallAnimation {
  0% {
    border-radius: 50%;
    transform: scale(0.6);
  }
  40% {
    border-radius: 50%;
  }
  90% {
    transform: scale(1.1);
  }

  100% {
    border-radius: 0;
    transform: scale(1);
  }
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.7);
    border-radius: 50%;
    outline: 0;
    background-color: rgb(255, 230, 0);
    border-radius: 100%;
  }
  15% {
    border-radius: 100%;
    transform: scale(0.2);
  }
  50% {
    outline: 0;
    background-color: rgba(12, 37, 180, 0.75);
  }

  60% {
    transform: scale(1);
    outline: 1px;
    background-color: rgba(60, 96, 196, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(129, 209, 219, 0.774);
  }
}
@keyframes bombAnimation {
  0% {
    transform: scale(0.7);
    border-radius: 50%;
    outline: 0;
    background-color: rgb(255, 0, 221);
    border-radius: 100%;
  }
  15% {
    border-radius: 100%;
    transform: scale(0.2);
  }
  50% {
    outline: 0;
    background-color: rgba(12, 37, 180, 0.75);
  }

  60% {
    transform: scale(1);
    outline: 1px;
    background-color: rgba(10, 117, 72, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(20, 206, 144, 0.774);
  }
}
.settingsWapper {
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  flex-wrap: wrap;

  & > :not(last-child) {
    margin-bottom: 10px;
  }
}
@keyframes shortestPath {
  0% {
    border-radius: 50%;
    transform: scale(0.6);
    background-color: rgb(226, 184, 137);
  }

  50% {
    border-radius: 0%;

    transform: scale(1.2);
    background-color: rgb(214, 117, 7);
  }

  100% {
    transform: scale(1);
    background-color: rgb(230, 214, 170);
  }
}

.tree {
  position: relative;
  z-index: 500;
  width: fit-content;
  margin: 0 auto;
  background-color: #fff;
  border-top:  1px solid rgba(37, 37, 37, 0.438);
  border-left:  1px solid rgba(37, 37, 37, 0.438);;
}

.growAnim {
  animation: growAnimation 1000ms;
}

@keyframes growAnimation {
  0% {
    pointer-events: none;
    border-radius: 10%;
    transform: scale(0.3);
  }
  40% {
    border-radius: 50%;
  }
  90% {
    transform: scale(1.1);
    pointer-events: all;
  }

  100% {
    border-radius: 0;
    transform: scale(1);
  }
}
