* {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', Consolas, monospace !important;
}
body{
  
}

.searching {
  background-color: rgb(11, 210, 245);
}
.path {
  background-color: rgb(229, 245, 11);
}

